.sc-roller-card {
    width: 200px;
    border: 1px solid green;
    border-radius: 10px;
    height:200px;
    padding: 10px;
    margin: 10px;
    float: left;
}

.sc-roller-card--buttons {
    clear: both;
}

.sc-roller-card--buttons__item {
    float: left;
    padding: 10px;
}